<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear <%= @ticket.customer_name %>! Your ticket is created.</h1>
<p>Ticket number <strong>#<%= @ticket.ticket_name %></strong></p>
<p>
  You can check its status at the following link: <%= link_to(root_url, { controller: 'dashboard', action: 'show', id: @ticket.ticket_name }) %><br>
</p>

<p>Thank you for contacting our support team! As soon as possible we will try to solve your problem.</p>
</body>
</html>